@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
span,
label,
input,
button {
  @apply font-open-sans;
}

.container {
  @apply max-w-360 bg-gray-light mx-auto px-5 sm:px-10 md:px-20 gl:px-26.5;
}
